name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    name: Tests on PHP ${{ matrix.php }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php: ['8.2', '8.3']
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring,dom
          ini-values: zend.assertions=1
      - name: Install dependencies
        run: composer update --no-interaction --prefer-dist
      - name: Configure PHPUnit matchers
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - name: Run tests
        run: ./vendor/bin/phpunit --verbose --colors Bz2Tuleap/tests/
