name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    name: Tests on PHP ${{ matrix.php }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php: ['8.2', '8.3']
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring,dom
          ini-values: zend.assertions=1
      - name: Install dependencies
        run: composer update --no-interaction --prefer-dist
      - name: Configure PHPUnit matchers
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - name: Run tests
        run: ./vendor/bin/phpunit --verbose --colors Bz2Tuleap/tests/
